# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# vscode
.vscode/
lib/

# example
example/**/package-lock.json
example/**/yarn.lock